[submodule "src/libs/resiprocate"]
	path = src/libs/resiprocate
	url = git@git.sevana.biz:public/resiprocate.git
	branch = master

[submodule "src/libs/libsrtp"]
	path = src/libs/libsrtp
	url = git@git.sevana.biz:public/libsrtp.git
	branch = master
[submodule "src/libs/libraries"]
	path = src/libs/libraries
	url = git@git.sevana.biz:public/libraries.git
